<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-button slot="end" class="logout_btn" [routerLink]="['/login']">
      <ion-icon name="power" color="white"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <!-- <ion-img src="../../assets/icon/header.png"> </ion-img> -->
    <ion-card-header>
      <ion-card-title>
        Welcome
      </ion-card-title>
      <ion-card-subtitle>
        SafeSpect is a Welfare Monitoring and Journey Management solution for Friends and Family.

      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <div class="signin-btns">
        <ion-button size="small" fill="solid" shape="round" [routerLink]="['/add-contacts']" class="loginBtn ">Contacts
        </ion-button>
        <ion-button size="small" fill="outline" shape="round" [routerLink]="['/contact-details']" color="dark">Contacts
          List
        </ion-button>
        <ion-button size="small" fill="outline" shape="round" [routerLink]="['/home']" color="dark">Contacts
          Native
        </ion-button>
      </div>
      <div class="signin-btns">
        <ion-button size="small" fill="solid" shape="round" [routerLink]="['/geolocation']" class="loginBtn ">Location
          Tracking
        </ion-button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>