.center {
  text-align: center;
  color: #515365;
}
.register_btn {
  text-align: center;
  --background: #607d8b;
  margin-top: 3%;
  width: 100%;
  color: white;
}
.scroll-content {
  --background: white;
}
ion-item {
  --background: white;
  color: grey;
}
ion-icon {
  color: #7a9e9f;
}
ion-button {
  --background: #7774e7;
  color: white;
  font-size: 15px;
}
.content_card {
  font-size: 11px;
}
