<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
          <ion-col class="img-container">
            <img src="../../assets/icon/Icon-72.png">
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Hello, Login here!</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <ion-item>
                              <ion-icon name="person" class="icon-login"></ion-icon>
                              <ion-input name="email" type="email" [(ngModel)]="email" required placeholder="Your Username"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                              <ion-icon name="lock-closed" class="icon-login"></ion-icon>
                              <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password" ></ion-input>
                          </ion-item>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full" (click)="login()">
                          Login
                      </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3>Forgot Password?</h3>
                          <!-- [routerLink]="['/forgot-password']" -->
                      </ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>