<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="../../assets/icon/header.png"> </ion-img>
    <ion-card-header>
      <ion-card-title>
        Login
      </ion-card-title>
      <ion-card-subtitle>
        SafeSpect is a Welfare Monitoring and Journey Management solution for Friends and Family.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-slide>
      <div class="contaier-login">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>

                <ion-item>
                  <ion-icon name="person" class="icon-login"></ion-icon>
                  <ion-input name="email" type="email" [(ngModel)]="email" required placeholder="Your Username">
                  </ion-input>
                </ion-item>
                <br />
                <ion-item>
                  <ion-icon name="lock-closed" class="icon-login"></ion-icon>
                  <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" fill="solid" expand="full" (click)="login()">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col>
                      <ion-label>
                          <h3>Forgot Password?</h3>
                          [routerLink]="['/forgot-password']"
                      </ion-label>
                  </ion-col> -->
            <ion-col>
              <ion-button fill="solid" expand="full" [routerLink]="['/register']" color="dark">
                Register
              </ion-button>
            </ion-col>
          </ion-row>
          <div class="text-tag">
            <span>
              Or via Social Media
            </span>
          </div>
          <div class="social-btns">
            <ion-button fill="clear" class="facebookBtn ion-no-padding">
              <ion-img src="../../assets/icon/facebook.png"></ion-img>
            </ion-button>
            <ion-button fill="clear" class="appleBtn ion-no-padding">
              <ion-img src="../../assets/icon/apple.png"></ion-img>
            </ion-button>
            <ion-button fill="clear" class="googleBtn ion-no-padding">
              <ion-img src="../../assets/icon/google.png"></ion-img>
            </ion-button>
          </div>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-card>
</ion-content>