ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-content {
    --ion-background-color: transparent;
    margin-top: 10px;
}

.bg-color {
    background: #E1EAF9;

}

ion-card-title {
    text-align: center;
    font-weight: 600;
}

ion-card-subtitle {
    color: #898585;
    font-weight: 300;
}

ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-card-subtitle {
    padding-top: 10px;
    padding-left: 3px;
}